body{
    background-color: rgba(104, 100, 100, 0.74);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
::-webkit-scrollbar{
    background-color: rgba(0, 0, 0, 0.753);
    width: 6px;
}
::-webkit-scrollbar-thumb{
    background-color: #ffffffb6;
    border-radius: 25px;
}
/* header */

/* main */


.pao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.back{
    margin-right: 100px;
    margin-left: 100px;
    padding: 20px;
    font-family:'poppins', sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}


/* slide */

.jobs1-boxmain{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 10px;
}
.slider{
    width: 300px;
    text-align: center;
    overflow: hidden;
    margin-top: 10px;
}
.slides{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}
.slides::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}
.slides::-webkit-scrollbar-thumb{
    background: black;
    border-radius: 10px;
}
.slides::-webkit-scrollbar-track{
    background: #ccc;
}
.slides div{
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background: #fff;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    align-items: center;
    font-size: 80px;
    justify-content: center;
}
.slides img {
    z-index: -1;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    width: 100%;
    height: 100%;

  }
  #slide-1 h1{
    font-family: 'poppins', sans-serif;
    font-size: 20px;
    margin-bottom: -190px;
}
#slide-2 h1{
    font-family: 'poppins', sans-serif;
    font-size: 20px;
    margin-bottom: -190px;
}

.slider > a{
    display: inline-flex;
    width: 1.5em;
    height: 1.5em;
    background: #fff;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5em 0;
    position: relative;
    color: black;
}
.slider > a:active{
    top: 1px;
}
.slider > a:focus{
    background: rgba(0, 0, 0, 0.1);
    transform: scale(1);
}

/* fim */

/* footer */

.footer {
    margin-top: 10px;
    margin-bottom: -10px;
    margin-left: -10px;
    font-family: "poppins", sans-serif;
    width: 100vw;
    height: 150px;
    background-color: rgba(104, 100, 100, 0.74);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #1e1e2a;
    position: static;
}
.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#what{
    margin-top: 15px;
}

/* responsividade */

@media (max-width:699px){
    .texto{
        position: relative;
        width: auto;
        padding-top: 10px;
        padding-left: 10px;
        margin: auto 10px;
        margin-right: 20px;
    }
    main{
        margin-top: -100px;
    }
    .pao{

        text-align: center;
    }
    img{
        width: 100vw;

    }
    .back{
        margin: 30px;
    }
    
}